body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:black;
  -webkit-appearance: none;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
/* For Webkit browsers (like Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  max-height:100%;
  max-width:100%;
  overflow: hidden;
  position: absolute;
}
.playback {
  max-height:100%;
  width:20%;
  margin: 0 auto;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgb(21,21,21),rgb(15,15,15));
}
.record{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:15px;
  height:86vh;
  width:80vh;
  background: #1d1d1d;
  border-radius: 50%;
  background: linear-gradient(225deg,#1f1f1f, #1a1a1a);
  box-shadow:  -10px 3px 15px #111010,
  10px -5px 15px #111111;
  transition: 2.5s linear;
}
.record{
  margin-top:6px;
  transition: 0.6s linear;
}
.record .i1 {
  height: 70vh;
  width: 70vh;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 50%;
  background: #1d1d1d;
  box-shadow: -3px 6px 20px #0a0a0a,
  1px -2px 20px #232323;
  animation:rotatei1 12s linear infinite;

}
@keyframes rotatei1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
        transform: rotate(360deg);
  }
}

.i2 {
  margin-top: 10.1%;
  margin-left:10.1%;
  height: 56vh;
  width: 56vh;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 50%;
  background: #1d1d1d;
  box-shadow:  -3px 5px 20px #0c0c0c,
  1px -2px 20px #1f1f1f;
}
.i3 {
  margin-top: 14.5%;
  margin-left:14.5%;
  height: 39vh;
  width: 39vh;
  border: 3px solid rgb(15, 15, 15);
  border-radius: 50%;
}
.inner{ /*album cover goes here*/
  justify-content: center;
  margin-top: 7%;
  margin-left:7%;
  height: 33vh;
  width: 33vh;
  border: 3px  #a21e1e solid;
  border-radius: 50%;
  box-shadow:  -3px 5px 20px #0c0c0c,
  1px -2px 20px #0c0c0c;

  .album{
    justify-content: center;
    border-radius: 50%;
    width: 33vh;
    height: 33vh;
  }
}
.inner img:hover{
  box-shadow: 0 0 100px #f13c3c;
  transition: 0.3s linear;
}

.header{
  overflow: hidden;
  display: grid;
  margin-top:0;
  max-height:10vh;
  min-width:100vh;
  padding-left: 15px;
  padding-top: 8px;
  background-color: #2b2b2b;
  grid-template-columns: 1.2fr 3fr 1fr 0.3fr;
  padding-bottom: 10px
}
.logo h3 a{
  align-self: center;
  padding-left: 45px;
  font-size: 25px;
}
.logo .text-focus-in a{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.playbackarea{
  border-radius:5px;
  background-color: #4d4d4d;
  display: grid;
  max-height: 10vh;
  box-shadow: 0 0 60px #4f4f4f;
  transition: 1s linear;
  .albumname{
    justify-self: start;
    display: grid;
        grid-template-columns:0.5fr 4.2fr 2.5fr;
    max-height: 8vh;
    .cover{
      border-radius: 5px;
      box-shadow: 10px -5px 40px #232323;
      max-height: 10vh;
      transition: 1s linear;
            /*margin-left: 25px;*/
            /*border: 1px solid black;*/

    }
    .cover img{
      max-height:9vh;
    }
    .albumtext{
      max-height:8.7vh;
    }
    .albumtext p{
      margin-top:9px;
      margin-left: 10px;
      margin-bottom: 0;
    }
    #albumdescription{
      margin-top: 3px;
    }
    #song_time{
      position: absolute;
      color: #9f9f9f;
      margin-left: 10px;
      top:55px;
    }
    #current_time:hover{
      color: white;
    }
    #end_time:hover{
      color: white;
    }
  }
  .cover img:hover{
    box-shadow: 0 0 3px #9f9f9f;
  }
  .playbutton{
    justify-self: start; /* controls margin can be changed by using end instead of start*/
    display: flex;
    max-height: 8.7vh;
    margin-left: 90px;

  }
  .playbutton button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 15px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    padding-top:24.5px;
    color: #2b2b2b;
  }
  .playbutton button:hover {
    color: #9f9f9f;
  }
  .playbutton i:hover{
    box-shadow: 0 0 60px #ff2b2b;
  }
  .playbutton button:active {
    transform: scale(0.9);
  }
    .playbutton .clicked{
    color: #f13c3c;
  }
    .playbutton .clicked{
    color: #f13c3c;
  }
}
.play_bar{
  margin-top: 9px;
  margin-left:80.5px;
  border-radius: 3px;
  position: relative;
  max-width:100%;
    height:5px;
  background-color:#9f9f9f;
}
.play_bar .slider{
  position: absolute;
  top:0;
  border-radius: 3px;
  width:0;
    height:5px;
  background-color: white;
    transition: 1s linear;
}
.play_bar .dot{
    left: 0;
  position: absolute;
  border-radius: 30% 30% 10% 10%;
  width:7.5px;
    height:11px;
  top:-5px;
  background-color: white;
    transition: 1s linear;
}
.play_bar input{
  position: absolute;
  left:-1px;
  top:-13.5px;
  width: 100%;
  cursor: pointer;
  z-index:999999999999999999;
  opacity: 0;
}
.volumecontrol {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.volumecontrol .mute_button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f9f9f;
}
.volumecontrol .mute_button:hover{
  color: #ffffff;
}
.volumecontrol .mute_button:active{
  transform: scale(0.9);
}
.volumecontrol .mute_button:active{
  color: #a21e1e;
}

.volumecontrol .v_range{
  display:flex;
  align-items:center;
  width:50%;
  margin-left: 10px;
  margin-right: 10px;
}
.volumecontrol .v_range .v_bar{
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color:transparent;
  height: 9px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 0 45px #a12e1e;
}
.volumecontrol .v_range .v_bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width:14px;
  height:12px;
  border-radius: 50%;
  background: #9f9f9f;
  cursor: pointer;
  box-shadow: -410px 0 0 400px #a12e1e;
}
/* for morzila browser */
.volumecontrol .v_range .v_bar::-moz-range-thumb{
  -webkit-appearance: none;
  width:12px;
  height:12px;
  border-radius: 50%;
  background: #9f9f9f;
  cursor: pointer;
  box-shadow: -410px 0 0 400px #a12e1e;
}
.volumecontrol .v_num{
  display: flex;
  justify-content: center;
  margin-left:0;
}
.sidecontrols{
  display: flex;
  align-items: center;
  justify-content: center;
}


.explore {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 60%;
  position: relative;
  overflow-y: auto;
  max-height: 87.3vh;
  background-color: #1f1f1f;
}
.explore,h2{
  color:white;}
.browser {
  border-bottom: 2px solid #3f3f3f;
  margin-left:25px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.tile-1 {
  width: 410px;
  height: 230px;
  border-radius: 20px;
  margin-left:30px;
  margin-top:15px;
  display: inline-block;
  overflow: hidden;
}
.t_video{
  padding-right: 180px;
  transform: rotate(90deg);
  transform-origin: center;
  width: 230px; /* Swap width and height to fit inside .tile-1 */
  height:410px;
}
.text_title{
  position: absolute;
  top:120px;
  left:60px;
  transition: 5s linear;
  & a, & h2{
    text-shadow:  -3px 5px 8px #000000,
    1px -2px 10px #000000;
    transition: 0.5s linear;
    color:snow;

  }
}
.text_title:hover{
  & a, & h2 {
    color:#9f9d9d;
  }
}
.tile-2 {
  width: 410px;
  height: 230px;
  margin-top:15px;
  border-radius: 20px;
  margin-left:21px;
  display: inline-block;
  overflow: hidden;
}
.t_video2{
  padding-left:0;
  width: 412px;
  height:230px;
}
.text_title2{
  position: absolute;
  top:120px;
  left:500px;
  transition: 5s linear;
  & h2{
    text-shadow:  -3px 5px 8px #000000,
    1px -2px 10px #000000;
    transition: 0.5s linear;
    color:snow;

  }
}
.text_title2:hover{
  & h2{
    color:#9f9d9d;
  }
}
.side4{
  width:180px;
  height:230px;
  background-color: #2b2b2b;
  margin: 18px;
  display:inline-block;
  border-radius: 20px;
  box-shadow:1px 1px 4px #4d4d4d;

}
.side1{
  width:180px;
  height:230px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin:18px;
  display: inline-block;
  box-shadow:1px 1px 4px #4d4d4d;
}
.side2{
  width:180px;
  height:230px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin:18px;
  display: inline-block;
  box-shadow:1px 1px 4px #4d4d4d;
}
.side3{
  width:180px;
  border-radius: 20px;
  height:230px;
  background-color: #2b2b2b;
  margin:18px;
  display: inline-block;
  box-shadow:1px 1px 4px #4d4d4d;
}
.row-1{
  width: 95%;
  margin-left: 18px;
  height:200px;
  display: inline-flex;
}
.row-2{
  width: 95%;
  height:200px;
  margin-left:18px;
  display: inline-flex;
}
.row-3{
  margin-left: 18px;;
}
a .img{
  position: relative;
  width:20vh;
  height: 170px;
  border-radius: 20px;
}
a .img1{
  position: relative;
  width:25vh;
  height: 230px;
  border-radius: 20px;
}
.img_box1{
  position: absolute;
  top:408px;
  left: 29px;
  width:21vh;
  height: 170px;
  border-radius: 20px;
  z-index: 1;
}
.row_text1{
  position: absolute;
  margin-top:0;
  margin-left:0;
  border-radius: 20px;
  width: 151px;
  height: 170px;
  z-index: 3;
}
.row_text1 h5{
  opacity: 0;
  margin-left: 18px;
  margin-top:18vh;
  font-size:15px;
}
.gradiant1{
  position: absolute;
  z-index:2;
  top:408px;
  left: 29px;
  width:153px;
  height: 170px;
  border-radius: 20px;
}
.gradiant1 .row_text1:hover{
  & h5 {
    transition: 0.5s linear;
    color:#d8e2e3;
    opacity: 100%;
  }
}
.gradiant1:hover{
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgba(15, 15, 15, 0.83));
}
.img_box2{
  position: absolute;
  top:408px;
  left:204px;
  width:21vh;
  height: 170px;
  border-radius: 20px;
  z-index: 1;
}
.row_text2{
  position: absolute;
  border-radius: 20px;
  width: 151px;
  height: 170px;
  z-index: 3;
}
.row_text2 h5{
  opacity: 0;
  margin-left: 18px;
  margin-top:18vh;
  font-size:15px;
}
.gradiant2{
  position: absolute;
  z-index:2;
  top:408px;
  left:204px;
  width:153px;
  height: 170px;
  border-radius: 20px;
}
.gradiant2 .row_text2:hover{
  & h5 {
    transition: 0.5s linear;
    color:#d8e2e3;
    opacity: 100%;
  }
}
.gradiant2:hover{
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgba(15, 15, 15, 0.83));
}
.img_box3{
  position: absolute;
  top:408px;
  left:378px;
  width:21vh;
  height: 170px;
  border-radius: 20px;
  z-index: 1;
}
.row_text3{
  position: absolute;
  border-radius: 20px;
  width: 152px;
  height: 170px;
  z-index: 3;
}
.row_text3 h5{
  opacity: 0;
  margin-left:21px;
  margin-top:18vh;
  font-size:15px;
}
.gradiant3{
  position: absolute;
  z-index:2;
  top:408px;
  left:378px;
  width:153px;
  height: 170px;
  border-radius: 20px;
}
.gradiant3 .row_text3:hover{
  & h5 {
    transition: 0.5s linear;
    color:#d8e2e3;
    opacity: 100%;
  }
}
.gradiant3:hover{
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgba(15, 15, 15, 0.83));
}
.img_box4{
  position: absolute;
  top:408px;
  left:553px;
  width:21vh;
  height: 170px;
  border-radius: 20px;
  z-index: 1;
}
.row_text4{
  position: absolute;
  border-radius: 20px;
  width: 151px;
  height: 170px;
  z-index: 3;
}
.row_text4 h5{
  opacity: 0;
  margin-left: 18px;
  margin-top:18vh;
  font-size:15px;
}
.gradiant4{
  position: absolute;
  z-index:2;
  top:408px;
  left:553px;
  width:153px;
  height: 170px;
  border-radius: 20px;
}
.gradiant4 .row_text4:hover{
  & h5 {
    transition: 0.5s linear;
    color:#d8e2e3;
    opacity: 100%;
  }
}
.gradiant4:hover{
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgba(15, 15, 15, 0.83));
}
.img_box5{
  position: absolute;
  top:408px;
  left:727px;
  width:21vh;
  height: 170px;
  border-radius: 20px;
  z-index: 1;
}
.row_text5{
  position: absolute;
  border-radius: 20px;
  width: 151px;
  height: 170px;
  z-index: 3;
}
.row_text5 h5{
  opacity: 0;
  margin-left: 18px;
  margin-top:18vh;
  font-size:15px;
}
.gradiant5{
  position: absolute;
  z-index:2;
  top:408px;
  left:727px;
  width:153px;
  height: 170px;
  border-radius: 20px;
}
.gradiant5 .row_text5:hover{
  & h5 {
    transition: 0.5s linear;
    color:#d8e2e3;
    opacity: 100%;
  }
}
.gradiant5:hover{
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0), rgba(15, 15, 15, 0.83));
}

.box1{
  width:200px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin: 15px;
}
.box2{
  width:200px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin: 15px;
}
.box3{
  width:200px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin: 15px;
}
.box4{
  width:200px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin: 15px;
}
.box5{
  width:200px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin: 15px;
}

.cover_area{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
}
.playlist_title{
  color: white;
  margin-left: 15px;
  margin-top: 8vh;
}
.playlist_title2{
  position: absolute;
  margin-left: 41vh;
  margin-top: 15vh;
  color: #a21e1e;
}
.playlist_cover {
  width: 250px;
  height: 230px;
  border-radius: 20px;
  margin-left:30px;
  margin-top:15px;
  display: inline-block;
  box-shadow: inset 2px 1px 8px #4f4f4f;
}
.songs_list{
  margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid #2b2b2b;
}
.songs_list li{
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
}
.songs_list li:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.songs_list li img{
  height: 35px;
  width: 35px;
  border-radius: 4px;
}
.menu{
  position: relative;
  max-height: 90vh;
  min-width:42vh;
  background: #1d1d1d;
}
h5{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  margin-left: 10px;

}
.menu h2{
  text-align: center;
  color: #d8e2e3;
}
h4{
  margin-left: 15px;
}
a{
  text-decoration: none;
  color:#d8e2e3;
  line-height: 1.5;
  margin-top: 3%;
}

.Recently_Added,.Albums,.Artists,.Songs{
  width: 5%;
  height: 5%;
}
form{
  text-align: center;
  color: grey;
}
button{
  border-radius: 20%;
  width: 40px;
  height: 30px;
  margin: 0 auto;
}
input{
  border-radius: 3%;
  border: 3px groove #9f9d9d;
  color: #d8e2e3;
  background-color: #1d1d1d;
  height: 25px;
  width: 200px;
}
h4:hover{
  background-color: rgba(82, 82, 82, 0.2);
}
h4{
  text-align: left;
}
.resultbox ul li {
  list-style: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.resultbox ul li:hover {
  background: #1f1f1f;
}
::placeholder{
  color: #555;
}
.resultbox ul{
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.resultbox{
  position: absolute;
  background-color:#1d1d1d;
  text-align: left;
  width: 200px;
  z-index: 2;
  transform: translate(12%);
}
.resultbox ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#album-cover {
  height:250px;
  width:250px;
  color: #161819;
  margin-left: 28px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#song-title {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  margin-left: 28px;
}

#song-details {
  font-size: 14px;
  color: #999;
  margin-left: 28px;
}


#menu h2{
  color: #999;
  margin-left: 10px;
}




#songdescription {
  width: 218px; /* Set the width as needed */
  height: 80px; /* Set the height as needed */
  background: linear-gradient(to bottom right, #4b4646, #201e1e); /* Set the background color */
  border: 2px solid rgb(47,40,39,0.6); /* Set the border color and width */
  border-radius: 10px; /* Set the border radius for rounded corners */
  padding: 15px; /* Set the padding inside the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  text-align: left; /* Center text horizontally */
  color: #999; /* Set the text color */
  margin-left: 28px;
  margin-top: 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
#songdescription::-webkit-scrollbar{
  width:0;
}
#songdescription::-webkit-scrollbar-thumb{
  background-color: transparent;
}

#songdescription p {
  margin: 0; /* Remove default margin inside the box */
}

#q{

  width: 218px;
  height: 55px;
  background: linear-gradient(to bottom right, #1f1f1f, #555);
  border-radius: 10px;
  margin-left:28px;
  margin-top: 20px;;
  padding: 15px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#q>h2{
  font-size: 12px;
  color:#999;
  margin-bottom: 15px;
  margin-left: 0;
  margin-top: 0;
}
#qimg{
  width:30px;
  height:30px;
  margin-right: 10px;
}
#q a {
  display: inline-block;
}