body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:black;

}
.container {
    display: flex;
    justify-content: center;
    min-height: 87.5vh;
    max-width:100%;
    overflow: hidden;
}
.playback {
    border: 1px solid black;
    max-height:100vh;
    width:20%;
    margin: 0 auto;
    box-sizing: border-box;
    /*background-color:#1f1f1f;*/
    background: linear-gradient(to bottom, rgb(21,21,21),rgb(15,15,15));
}
.record{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;
    height:86vh;
    width:80vh;
    background: #1d1d1d;
    /*background: linear-gradient(225deg, #1f1f1f, #1a1a1a);*/
    /*box-shadow:  -25px 25px 50px #121212,*/
    /*25px -25px 50px #282828;*/
    border-radius: 50%;
    background: linear-gradient(225deg,#1f1f1f, #1a1a1a);
    box-shadow:  -10px 3px 15px #111010,
    10px -5px 15px #111111;
}
.record{
    margin-top:6px;
    transition: 0.6s linear;
}
.record .i1 {
    /*margin-left: 50px;*/
    height: 70vh;
    width: 70vh;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    background: #1d1d1d;
    box-shadow: -3px 6px 20px #0a0a0a,
    1px -2px 20px #232323;
    /*transition: 2s linear;*/
    animation:rotatei1 12s linear infinite;

}
@keyframes rotatei1{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.inner img:hover{
    box-shadow: 0 0 100px #9f9d9d;
    transition: 0.3s linear;
}
.i2 {
    margin-top: 10.1%;
    margin-left:10.1%;
    height: 56vh;
    width: 56vh;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    background: #1d1d1d;
    box-shadow:  -3px 5px 20px #0c0c0c,
    1px -2px 20px #1f1f1f;
}
.i3 {
    margin-top: 14.5%;
    margin-left:14.5%;
    height: 39vh;
    width: 39vh;
    border: 3px solid rgb(15, 15, 15);
    border-radius: 50%;
}
.inner{ /*album cover goes here*/
    justify-content: center;
    margin-top: 7%;
    margin-left:7%;
    height: 33vh;
    width: 33vh;
    border: 3px #a21e1e solid;
    border-radius: 50%;
    box-shadow:  -3px 5px 20px #0c0c0c,
    1px -2px 20px #0c0c0c;

    .album{
        justify-content: center;
        border-radius: 50%;
        width: 33vh;
        height: 33vh;
    }
}

.header{
    overflow: hidden;
    display: grid;
    margin-top:0;
    max-height:10vh;
    /*position: relative;*/
    min-width:100vh;
    padding-left: 15px;
    padding-top: 8px;
    background-color: #2b2b2b;
    grid-template-columns: 1.2fr 3fr 1fr 0.3fr;
    padding-bottom: 10px
}

.logo{
    /*border: 1px solid black;*/
    align-self: center;
    padding-left: 45px;
    position: relative;
    font-size: 20px;
}
.logo .text-focus-in h3{
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.playbackarea{
    border-radius:5px;
    background-color: #4d4d4d;
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    max-height: 10vh;
    box-shadow: 0 0 60px #4f4f4f;
    transition: 1s linear;
    .albumname{
        /*border:1px solid black;*/
        justify-self: start;
        display: grid;
        grid-template-columns:0.5fr 4.2fr 2.5fr;
        max-height: 8vh;
        .cover{
            /*position: absolute;*/
            border-radius: 5px;
            box-shadow: 10px -5px 40px #232323;
            max-height: 10vh;
            max-width:11vh;
            transition: 1s linear;
            /*margin-left: 25px;*/
            /*border: 1px solid black;*/

        }
        .cover img{
            max-height:9vh;
        }
        .albumtext{
            max-height:8.7vh;
            /*border: 1px solid black;*/
        }
        .albumtext p{
            margin-top:9px;
            margin-left: 10px;
            margin-bottom: 0;
            /*border: 1px solid black;*/
        }
        #albumdescription{
            margin-top: 3px;
        }
        #song_time{
            position: absolute;
            color: #9f9f9f;
            margin-left: 10px;
            top:55px;
        }
        #current_time:hover{
            color: white;
        }
        #end_time:hover{
            color: white;
        }
    }
    .cover img:hover{
        box-shadow: 0 0 3px #9f9f9f;
    }
    .playbutton{
        /*border:1px solid black;*/
        /*padding-top: 25px;*/
        justify-self: start; /* controls margin can be changed by using end instead of start*/
        display: flex;
        /*align-items: center;*/
        max-height: 8.7vh;
        margin-left: 90px;

    }

    .playbutton button {
        border: none;
        outline: none;
        background-color: transparent;
        width: 15px;
        height: 30px;
        font-size: 20px;
        cursor: pointer;
        margin-left: 20px;
        padding-top:24.5px;
        color: #2b2b2b;
    }
    .playbutton button:hover {
        color: #9f9f9f;
    }
    .playbutton i:hover{
        box-shadow: 0 0 60px #ff2b2b;
    }
    .playbutton button:active {
        transform: scale(0.9);
    }
    .playbutton .clicked{
        color: #f13c3c;
    }
    .playbutton .clicked{
        color: #f13c3c;
    }
}
.play_bar{
    margin-top: 9px;
    margin-left:80.5px;
    border-radius: 3px;
    position: relative;
    max-width:100%;
    height:5px;
    background-color:#9f9f9f;
}
.play_bar .slider{
    position: absolute;
    top:0;
    border-radius: 3px;
    width:0;
    height:5px;
    background-color: white;
    transition: 1s linear;
}
.play_bar .dot{
    left: 0;
    position: absolute;
    border-radius: 30% 30% 10% 10%;
    width:7.5px;
    height:11px;
    top:-5px;
    background-color: white;
    transition: 1s linear;
    /*opacity: 10%;*/
}
.play_bar input{
    position: absolute;
    left:-1px;
    top:-13.5px;
    width: 100%;
    cursor: pointer;
    z-index:999999999999999999;
    opacity: 0;
}
.volumecontrol {
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    padding-left: 20px;
    /*justify-content: center;*/
}
.volumecontrol .mute_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9f9f9f;
}
.volumecontrol .mute_button:hover{
    color: #ffffff;
}
.volumecontrol .mute_button:active{
    transform: scale(0.9);
}
.volumecontrol .mute_button:active{
    color: #a21e1e;
}

.volumecontrol .v_range{
    display:flex;
    align-items:center;
    width:50%;
    margin-left: 10px;
    margin-right: 10px;
}
.volumecontrol .v_range .v_bar{
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color:transparent;
    height: 9px;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 45px #a12e1e;
}
.volumecontrol .v_range .v_bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:14px;
    height:12px;
    border-radius: 50%;
    background: #9f9f9f;
    cursor: pointer;
    box-shadow: -410px 0 0 400px #a12e1e;
}
/* for morzila browser */
.volumecontrol .v_range .v_bar::-moz-range-thumb{
    -webkit-appearance: none;
    width:12px;
    height:12px;
    border-radius: 50%;
    background: #9f9f9f;
    cursor: pointer;
    box-shadow: -410px 0 0 400px #a12e1e;
}
.volumecontrol .v_num{
    display: flex;
    justify-content: center;
    margin-left:0;
    /*border: 1px solid #a12e1e;*/
}
.sidecontrols{
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore {
  border-left: 1px solid black;
  border-right: 1px solid black;
    width: 60%;
    position: relative;
    overflow-y: auto;
    max-height: 87.3vh;
    background-color: #1f1f1f;
    -webkit-appearance: none;
    /*background: linear-gradient(to bottom, #1f1f1f,black);/* add this if you want or do it however you want just keep
    up with theme*/
}
.cover_area{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
}
.playlist_cover img{
    position: absolute;
    transition: 3s linear;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    /*border: 3px solid #1d1d1d;*/
    box-shadow: 2px 1px 30px #5e5d5d;
}
.playlist_title{
    color: white;
    margin-left: 18px;
    margin-top: 5vh;
}
.playlist_title2{
    position: absolute;
    margin-left: 41vh;
    margin-top: 11vh;
    color: #a21e1e;
}
.playlist_description{
    font-size:13px;
    margin-right: 25vh;
    color:#9f9d9d;
    position: absolute;
    margin-left: 41vh;
    margin-top: 16vh;

}
.playlist_cover {
    width: 250px;
    height: 230px;
    border-radius: 20px;
    margin-left:30px;
    margin-top:15px;
    display: inline-block;
}
.song_heading{
    color: #9f9d9d;
    margin-left: 5vh;
    margin-top:8vh;
    margin-bottom: 0;
}
.song_heading .artist_head{
    margin-left: 62vh;
}
.song_heading .duration_head{
    margin-left: 35vh;
}
.songs_list{
    /*margin-top:50px;*/
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #2b2b2b;
}
.songs_list li{
    list-style-type: none;
    position: relative;
    display: grid;
    align-items: center;
    cursor: pointer;
    transition: 0.2s linear;
    grid-template-columns: 0.2fr 1.7fr 1fr 1fr;
}
.songs_list li:hover{
    background-color: rgba(255, 255, 255, 10%);
}
.songs_list li img{
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 4px;
}
.songs_list div , h5{
    font-weight: bold; font-size:13px
}

.artist{
    margin-left: 10vh;

}
.duration{
    margin-left:21vh;
    font-weight: bold; font-size:13px
}
.menu{
    border: 1px solid black;
    position: relative;
    max-height: 100vh;
    min-width:42vh;
    background-color: #161819;
}
h5{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    margin-left: 10px;

}

.menu h2{
    text-align: center;
    color: #d8e2e3;
}

form{
    text-align: center;
    color: grey;
}

input{
    background-color: black;
    height: 25px;
    width: 200px;
}

h4{
    margin-left: 15px;
}

a{
    text-decoration: none;
    color:#d8e2e3;
    line-height: 1.5;
    margin-top: 3%;
}

.Recently_Added,.Albums,.Artists,.Songs{
    width: 5%;
    height: 5%;
}
.menu{
    /*border: 1px solid black;*/
    position: relative;
    max-height: 90vh;
    min-width:42vh;
    background: #1d1d1d;
}

h5{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    margin-left: 10px;

}

.menu h2{
    text-align: center;
    color: #d8e2e3;
}

form{
    text-align: center;
    color: grey;
}

input{
    background-color: #1d1d1d;
    /*color: #d8e2e3;*/
    height: 25px;
    width: 200px;
}

h4{
    margin-left: 15px;
}

a{
    text-decoration: none;
    color:#d8e2e3;
    line-height: 1.5;
    margin-top: 3%;
}

.Recently_Added,.Albums,.Artists,.Songs{
    width: 5%;
    height: 5%;
}

button{
    border-radius: 20%;
    width: 40px;
    height: 30px;
    margin: 0 auto;
}
input{
    border-radius: 3%;
    border: 3px groove #9f9d9d;
}


h4:hover{
    background-color: #1f1f1f;
}

h4{
    text-align: left;
}
.resultbox ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.resultbox ul li:hover {
    background: #1f1f1f;
}

::placeholder{
    color: #555;
}

.resultbox ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.resultbox{
    position: absolute;
    background-color:#1d1d1d;
    text-align: left;
    width: 200px;
    /*border: px solid black;*/
    z-index: 2;
    transform: translate(12%);

}

.resultbox ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#album-cover {
    height:250px;
    width:250px;
    color: #161819;
    margin-left: 28px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#song-title {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    margin-left: 28px;
}

#song-details {
    font-size: 14px;
    color: #999;
    margin-left: 28px;
}


#menu h2{
    color: #999;
    margin-left: 10px;
}




#songdescription {
    width: 218px; /* Set the width as needed */
    height: 80px; /* Set the height as needed */
    background: linear-gradient(to bottom right, #4b4646, #201e1e); /* Set the background color */
    border: 2px solid rgb(47,40,39,0.6); /* Set the border color and width */
    border-radius: 10px; /* Set the border radius for rounded corners */
    padding: 15px; /* Set the padding inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
    text-align: left; /* Center text horizontally */
    color: #999; /* Set the text color */
    margin-left: 28px;
    margin-top: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#songdescription::-webkit-scrollbar {
    width: 0;
}

